<div class="componentName-inner component-inner" role="region" aria-label="{{_globals._components._componentName.ariaRegion}}">
    {{> component this}}

    <div class="compoenntName-widget component-widget">
    </div>
</div>