<div class="componentName-inner component-inner" role="region" aria-label="{{_globals._components._componentName.ariaRegion}}">
    {{> component this}}

    <div class="componentName-widget component-widget">
        {{!-- Do your stuff here --}}
    </div>

    {{!-- This ensures that the standard question component buttons are automatically rendered into your view --}}
    <div class="buttons"></div>
</div>